@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header
{
    position: relative;
    text-align: right;
    padding: 5px;
}

.hd
{
    position: relative;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#dots
{
    width: 25px;
    padding-right: 10px;
    
}

#three
{
    color: white;
    position: relative;
    background-color: rgb(28, 109, 214);
    padding: 7px 22px;
    border-radius: 5px;
}

#search
{
    position: relative;
    width: 38%;
    right: 11%;
    padding: 14px;
    margin-top: 20px;
    border-radius:25px;
    border:1px solid #dcdcdc;
    outline: none;
}
#ggl
{
    position: relative;
    left: 40.8%;
    top: 194px;
    
}

.button
{ 
  position: relative;
  margin-top: 28px; 
  padding: 11px; 
  border: 0;
  outline: none;
  border-radius:5px;
  background-color:rgb(247, 247, 247);
  right: 1%;
  font-family: 'Open Sans', sans-serif;

}
.button:hover
{
    border:1px solid #dcdcdc;
}
#b1
{
    width: 9%;
    margin-right: 0.25%;
}
#b2
{
    width: 10%;
    margin-left: 0.25%;
}