#btn{
    margin-left: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    height: 30px;
    width: 5%;
}
.btn{
    margin-left: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}
#btns{
    position: absolute;
    margin-left: 200px;
    margin-top: 20px;
    height: 20px;


}
#box{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 170px;
    margin-top: 10px;

    
}
#data{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
   margin-left: 38%;
   margin-top: 50px;
   margin-bottom: 20px;
   width: 15%;
   height: 30px;
   border-radius: 10px;
}
#data2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 20%;
    text-align: center;
    overflow: scroll;
    margin-left:35% ;
    border-radius: 5px;
}

body{
    background-color: rgb(228, 228, 228);
}